<div class="card my-4 px-4">
  <h1 class="card-header">EJERCICIO PRÁCTICO DE IMPLEMENTACIÓN</h1>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <h4>
        Crear un Blog simple con Categorías de contenido, utilizando Angular
        para las funcionalidades, utilizar Bootstrap de Layout y CSS3 para
        estilo adicional. Subir un ZIP o entregar link a Repositorio GIT.
        Objetivos: - Crear una aplicación Angular con Routing. - El Layout debe
        ser responsivo con header, un menú lateral desplegable para categorías y
        un área central para el contenido. - Implementar un servicio para
        recuperar publicaciones y categorías del blog desde una API simulada (o
        datos codificados). - Mostrar un listado de Post, donde se pueda pinchar
        y se acceda al detalle del Post en el área central de la aplicación. -
        Agregar un CSS3 básico de estilo para mejorar la apariencia de la
        aplicación.
      </h4>
    </blockquote>
  </div>
</div>
